
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* dark nav theme */

nav.dark-nav {
  background-color: #333;
  border-bottom: 1px solid #aaa;
}

nav.dark-nav ul {
  display: flex;
}

nav.dark-nav ul li a{
  padding: 14px 16px;
  display: block;
  color: #aaa;
}

nav.dark-nav li a:hover {
  background-color: #666;
}

/* light nav theme */
/* .light-nav */

nav.light-nav {
  border-bottom: 1px solid #aaa;
}

nav.light-nav ul {
  display: flex;
}

nav.light-nav ul li a{
  padding: 14px 16px;
  display: block;
  color: #aaa;
}

nav.light-nav li a:hover {
  background-color: #eee;
}
