body {
    background-image: url('pattern.jpg');
    margin: 0;
}

section {
    padding: 10px;
    margin-top:60px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 70px;
}


footer {
    background-color: black;
    color: white;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    justify-content: space-between;
}

#article-list div {
    border-bottom: 1px solid #999;
}

nav {
    vertical-align: middle;
}

nav ul {
    display: flex;
    margin-right: 20px;
}

nav ul a li {
    list-style: none;
    font-weight: bold;
}

nav ul a {
    font-size: 17px;
    margin: 0px 10px;
}

a {
    text-decoration: none;
}