body {
    padding: 10px;
    text-align: left;
}
.table-buah {
    border-collapse: collapse;
}

.table-buah > thead > tr > th{
    padding: 0px 10px;
}

.table-buah > tbody > tr> td {
    padding: 3px 10px;
}
tr {
    border-bottom: 1px solid #ded;
}

thead > tr {
    border-bottom: 1.2px solid black;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.btn-yellow, .btn-red, .form-buah > button {
    border: 0;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.btn-yellow {
    background-color: #ceb108;
}

.btn-red {
    background-color: #ce1212;
}

.form-buah > button {
    background-color: #008000;
}