.container-form {
  padding: 0px 38%;
}
.Main {
  box-shadow: 0px 0px 10px #ddd;
  padding: 20px;
  color: #555;
}
p, h1 {
  margin: 0;
}

h1 {
  font-size: 23px;
}
p {
  border-bottom: 2px solid #999;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 11px;
}

h1 {
  color: #777;
  font-weight: normal;
}

img {
  width: 300px;
}

.list {
  padding: 7px 0px;
  vertical-align: middle;
  border-bottom: 0.2px solid #aaa;
}

input {
  margin: 0px;
}

span {
  margin: 5px;
  font-size: 13px;
}

.button-sanber {
  width: 100%;
  background-color: #2cabe3;
  border: 0;
  padding: 10px;
  color: white;
  margin-top: 10px;
}

.button-sanber:active{
  background-color: red;
}