
nav {
    vertical-align: middle;
}

nav ul {
    display: flex;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
    font-weight: bold;
}

nav ul a {
    font-size: 17px;
    margin: 0px 10px;
}

a {
    text-decoration: none;
}